* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-color: #cecece;
}

#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

#editor {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.ProseMirror {
  min-height: 100%;
}

.menu-item__active {
  font-weight: bold;
}

.flow {
  height: 300px;
  border: 1px solid rgb(197, 203, 210);
}

pre {
  font-family: 'Courier 10 Pitch', Courier, monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

code {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background: #faf8f0;

  display: block;
  padding: 0.5em 1em;
  border: 1px solid #bebab0;
}

.text-align__centre {
  text-align: center;
}

.text-align__right {
  text-align: right;
}

figure {
  margin: 0;
}
